html,
body {
    background-color: #111517;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-auto-rows: 140px;
    grid-gap: 20px;
    justify-content: center;
}

.item {
    background-color: #ef0d33;
}
.item > button{
    background-color: #111517;
    color: #ef0d33;
}
